p {
  color: grey;
}
p::selection {
  color: blue;
  background-color: lightgrey;
}
.Tabelle {
  color: blue;
  background-color: lightgrey;
  height: auto;
  width: 400px;
  margin: 5px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  border: 3px solid black;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 400px;
  font-family: Arial;
  margin: 5px;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

#bottom {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.name {
  font-style: italic;
}

input[type='password'] {
  color: lightblue;
}

button {
  width: auto;
  height: auto;
  background-color: lightgrey;
}
button:hover {
  background-color: lightblue;
}
a::before {
  content: '\21d2 ';
}
#BildGithub {
  margin: 0px 15px;
  width: 30px;
  height: 30px;
}
@media print {
  .screen-only {
    display: none;
  }
}
@media (min-width: 800px) {
  body {
    background-color: white;
  }
  h1::after {
    content: 'Desktop-User';
  }
}
@media (max-width: 799px) {
  body {
    background-color: lightblue;
  }
  h1::after {
    content: 'Mobile-User';
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.container > div {
  background-color: lightgreen;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 3px solid black;
}
.grid {
  display: grid;
  background-color: lightblue;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 250px 250px auto;
}
.grid-item {
  background-color: green;
  font-size: 20px;
  text-align: center;
}
.row > div {
  padding: 20px;
  background-color: teal;
  border: 2px solid black;
  margin: 5px;
}
.container1 > div {
  margin: 20px;
}
#frame {
  border: 1px solid red;
}

#block {
  width: 20px;
  height: 40px;
  background: red;
  position: relative;
}
