
p
{
  color: grey;
}
p::selection {
  color:blue;
  background-color: lightgrey;
}
.Tabelle
{
  color: blue;
  background-color: lightgrey;
  height: auto;
  width: 400px;
  margin: 5px;
  padding:20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  border: 3px solid black;

}
table
{
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  font-family: Arial;
  margin: 5px;
}

th, td
{
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

th
{
background-color: lightgrey;
}
#bottom
{
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.name
{
  font-style: italic;
}

input[type=password]{
  color: lightblue;
}

button
{
width: auto;
height: auto;
background-color: lightgrey;
}
button:hover {
  background-color: lightblue;
}
a::before {
  content:  "\21d2 Click: "
}
#BildGithub {
  margin: 0px 15px;
  width: 30px;
  height: 30px;
}
@media print {
  .screen-only {
  display: none;}

}
@media (min-width: 800px) {
  body {
  background-color:white;
  }
  h1::after {
    content: "Desktop-User"
  }
}
@media (max-width: 799px) {
  body {
  background-color:lightblue;
  }
  h1::after {
    content: "Mobile-User"

  }
}
.container {
  display: flex;
  flex-wrap:wrap;
}
.container > div {
  background-color: lightgreen;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 3px solid black;
}
