html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 238, 238);
  color: #f1f1f1;
  font-family: 'Century Gothic', sans-serif, arial;
  font-size: 62.5%;
  line-height: 1.5;
}

img {
  display: block;
}

body {
  background-color: lightgrey;
  color: black;
}

#content {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#submitGroupElement {
  position: relative;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  margin: 10px 0 10px 0px;
}

.left {
  margin-left: 10px;
}

#linkPic {
  height: 22px;
}

#PubLink {
  font-size: 22px;
  color: grey;
}

button {
  border-radius: 5px;
  font-size: 1.1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#btn {
  height: 40px;
  width: 85px;
  display: inline-block;
  border: 1px solid rgb(226, 226, 226);
  margin-left: 10px;
  background: #ffffff;
  color: grey;
}

#btn:hover,
#btn:focus {
  background: #d4d4d4;
}

#love {
  margin: 0 10px 0 auto;
  color: rgb(121, 121, 120);
}

#linkInformation {
  display: flex;
  width: 100%;
  background-color: none;
  height: 40px;
}

.inputLinkInfo {
  width: 30%;
  height: 100%;
  margin-right: 2px;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid rgb(185, 185, 185);
}

.inputLinkInfo:focus {
  border-color: rgb(88, 164, 214);
}

#buttonLinkInfo {
  /*everything else is defined in button*/
  width: 10%;
  height: 100%;
  border: 1px solid rgb(34, 124, 183);
  background: rgb(34, 124, 183);
  color: white;
  font-weight: bold;
}

#buttonLinkInfo:hover,
#buttonLinkInfo:focus {
  background: rgb(58, 167, 240);
  border: 1px solid rgb(58, 167, 240);
}

#linkSuccess {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(222, 239, 216);

  border-radius: 5px;
}

#spanLinkSuccess {
  color: darkgreen;
  font-size: 1rem;
  margin-left: 10px;
}

.groupElement {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0 10px 0px;
}

.linkName {
  color: rgb(88, 164, 214);
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-left: 5px;
}

.submittedName {
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
  font-size: 17px;
  display: block;
}
