html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  background: #21252b;
  color: #f1f1f1;
  font-family: 'Century Gothic', sans-serif, arial;
  font-size: 62.5%;
  line-height: 1.5;
}

img {
  display: block;
}

body {
  background-color: lightgrey;
  color: black;
}

#content {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#submitGroupElement {
  position: relative;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0 10px 0px;
}

.left {
  margin-left: 10px;
}

#love {
  margin: 0 10px 0 auto;
  color: red;
}

.groupElement {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0 10px 0px;
}

.linkName {
  color: blue;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 5px;
}

.submittedName {
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
  font-size: 17px;
  display: block;
}
