*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
}

#SignUp {
  background-color: rgb(179, 178, 178);
}

.FormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.InnerContainer {
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

span {
  display: block;
}
