<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="content">
            <div id="submitGroupElement">
                <span class="left">Logo</span>
                <span class="left">picture</span>
                <span class="left">Button</span>
                <span id="love">Created with love and JavaScript</span>
            </div>
            <div id="results">
                <div class="groupElement">
                    <span class="linkName">Reddit</span>
                    <a href="test.com">https://reddit.com</a>
                    <span class="submittedName">Submitted by</span>
                </div>
                <div class="groupElement">
                    
                </div>
            </div>

        </div>
    </body>
</html>